.add-reaction {
	display: inline-block;
	position: relative;
}

dialog {
	left: calc(100% + 0.3em);
	top: 0;
	white-space: nowrap;
	border: 1px solid var(--color-bg-1);
	border-radius: 0.5em;
	padding: 0.3em;
}
