.add-reaction {
	display: inline-block;
	position: relative;
}

dialog {
	left: calc(-100%);
	border-radius: 0.5em;
	padding: 1rem 0.7rem;
	text-align: center;
	top: 0;
}

dialog > .close-icon {
	position: absolute;
	top: 0;
	right: 0;
	pointer-events: all;
}
