@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #EAF6FF;
	color: #232528;
	font-size: 1rem;
	@apply font-sans;
}

.body-container {
	padding: 3rem;
	margin: auto;
	max-width: 900px;
}

h1 {
	color: #2A2A72;
	@apply mb-4 text-4xl font-bold leading-none tracking-tight md:text-5xl lg:text-6xl;
}

h2 {
	color: #FFA400;
	@apply mb-3 text-2xl font-normal leading-none tracking-tight md:text-3xl lg:text-4xl;
}

@media (min-width: 480px) {
	h1 {
		max-width: none;
	}

	p {
		max-width: none;
	}
}

button {
	@apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center;
}

button:hover {
	@apply bg-blue-700;
}
